<!doctype html>
<html lang="en" th:replace="~{user/base::layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
</head>
<body>
<section>

    <div class="card mr-3 ml-3" th:if=${contact}>

        <div class="card-body">

            <div class="container text-center">

                <img alt="profile photo" class="contact_profile_pic" style="height:200px"
                     th:src="@{'/image/'+${contact.cimage}}">

                <h3 class="text-center text-info mt-3"><span th:text="${contact.cname}"></span> (<span
                        th:text="${contact.cnickname}"> </span>)</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">C-<span th:text="${contact.cid}"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${contact.cemail}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone No.</th>
                        <td><span th:text="${contact.cphone}"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Work</th>
                        <td><span th:text="${contact.cwork}"></span></td>
                    </tr>


                    </tbody>

                </table>

                <div class="description mt-3">

                    <th:block th:utext="${contact.cdescription}"></th:block>
                </div>

                <div class="container mt-3">
                    <form class="mt-2" method=post th:action="@{'/user/update/'+${contact.cid}}">
                        <button class="btn btn-primary btn-sm" type="submit">Update</button>
                    </form>
                    <br>
                    <button class="btn btn-danger btn-sm" th:onclick="|deleteContact(${contact.cid})|">Delete</button>
                </div>


            </div>

        </div>
    </div>
    <h2 class="text-center p-3 bg-danger text-white mr-3 ml-3" th:unless="${contact}">You don't have permission to see
        this contact...</h2>


</section>
</body>
</html>